<div class="hero">
  <div class="hero-content">
    <h1 class="text-lg-start">Make moments Extraordinary</h1>
    <p class="text-lg-start">
      A peaceful, 40-acre event venue for connection and <br class="d-none d-lg-block" /> celebration.
    </p>
  </div>
</div>

<app-top-images></app-top-images>

<div class="container">
  <div class="info-section">
    <div class="info-box">
      <img src="assets/header/CAPACITY.png" alt="Capacity Icon" />
      <h3>CAPACITY</h3>
      <!-- <p>Upto 400</p> -->
    </div>
    <div class="info-box">
      <img src="assets/header/SETTING.png" alt="Setting Icon" />
      <h3>SETTING</h3>
      <!-- <p>Backyard, Garden, Mountain, Park, Tented, Trees</p> -->
    </div>
    <div class="info-box">
      <img src="assets/header/CATERING.png" alt="Catering Icon" />
      <h3>CATERING</h3>
      <!-- <p>In-house</p> -->
    </div>
    <div class="info-box">
      <img src="assets/header/AMPLIFIED-MUSIC.png" alt="Amplified Music Icon" />
      <h3>AMPLIFIED MUSIC</h3>
      <!-- <p>Indoors</p> -->
    </div>
  </div>
  <h1 class="home text-center">The right place to hold your memories.</h1>
  <h4 class="text text-center">Yin Ranch is a vast 40-acre countryside venue, sitting atop the Vacaville hills. With wispy willows, a vineyard
    lined up to perfection and rolling hills that touch the horizon, it is surrounded by nature’s beauty. We have nine
    indoor or outdoor venues that offer a range from intimate to extravagance. On-site lodging allows for an easy
    arrival for everyone invited. Yin Ranch, and all its possibilities, sets the perfect scene to any occasion.
  </h4>
  <!-- <div class="image-wrapper text-center">
    <img src="assets/owners/yinranch_owners-1.jpg" alt="hero_pic" class="img-fluid" />
  </div> -->
</div>
<div class="estate-section container">
  <div class="row d-flex flex-column align-items-center">
    <div class="estate-image-wrapper">
      <img src="assets/resort/yinranch_gallery-4.jpg" alt="Estate Image" class="img-fluid" />
    </div>
    <div class="estate-description col-12 col-xl-6">
      <p>
        With the help of our friends and a network of incredible farmers, we grow sage for soap and tomatoes for
        candles.
        We harvest salt from the cliffs of Big Sur and press olive oil from very old trees and keep bees for honey.
        In all of it, we're invested in pleasure — for ourselves and our clients and friends — because we think it's a
        path to radical change and cataclysmic beauty.
      </p>
    </div>
  </div>
</div>
<app-bottom-images></app-bottom-images>