<section id="about" class="section-padding bg-gray-50">
    <div class="row">
        <div class="col-sm-6 col-md-1">
        </div>
        <div class="col-sm-6 col-md-7 text_inner">
            <h6>About Us</h6>
            <h2>Discover Yinranch: A Tranquil Retreat Embracing Nature and Serenity</h2>
        </div>
        <div class="col-sm-6 col-md-3">
        </div>
        <div class="col-sm-6 col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-1">
        </div>
        <div class="col-sm-6 col-md-7 text_inner">
            <p>Yinranch is a peaceful sanctuary nestled in nature, offering a serene escape from the hustle and bustle of everyday life. Surrounded by lush landscapes and scenic beauty, it provides the perfect setting for relaxation, reflection, and rejuvenation. Whether you're seeking solitude or a connection with the outdoors, Yinranch invites you to experience tranquility at its finest.</p>
        </div>
        <div class="col-sm-6 col-md-3">
            <img fetchpriority="high" decoding="async" src="assets/images/yinranch_owners-2.jpg" alt="Yin Ranch"
                title="Yin Ranch Owners"
                srcset="assets/images/yinranch_owners-2.jpg 300w, assets/images/yinranch_owners-2.jpg 150w"
                sizes="(max-width: 300px) 100vw, 300px" class="img-fluid circular-image" />
            <p></p>
            <p class="text_inner">With a deep passion for nature, hospitality, and creating memorable moments, we ensure that each visit, whether for a relaxing retreat or a beautiful wedding, is seamless and special.</p>
            <p></p>
            <p class="text_inner"><strong>Your Hosts</strong></p>
        </div>
        <div class="col-sm-6 col-md-1">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 col-md-1">
        </div>
        <div class="col-sm-6 col-md-10">
            <youtube-player videoId="9ux44vFS02Q"></youtube-player>
        </div>
        <div class="col-sm-6 col-md-1">
        </div>
    </div>
    <div class="row mb-1 mt-5">
        <div class="col-sm-6 col-md-1">
        </div>
        <div class="col-sm-6 col-md-5 text_inner">
            <h6>Information</h6>
            <h2>Property Details</h2>
            <p class="text_inner pt-1">
                Vacaville's top wedding site, Yin Ranch, is elegant and serene. This 40-acre estate is a fantastic wedding venue with natural beauty and elegance. Yin Ranch is a calm and beautiful place with lush landscaping, mature Redwood and Olive trees, a lake with a stone waterfall and fountain, and a vineyard on the slopes. 
                Yin Ranch's picturesque pathways and stunning views make it a perfect destination for couples seeking a private, exclusive, and accessible wedding.
            </p>
        </div>
        <div class="col-sm-6 col-md-5">
            <div class="row text_inner">
                <div class="col-md-4 pt-4 d-flex flex-column align-items-center justify-content-center">
                    <div class="text-center">
                        <h2>11</h2>
                    </div>
                    <div class="text-center">
                        <p>Total Beds</p>
                    </div>
                </div>
                <div class="col-md-4 pt-4 d-flex flex-column align-items-center justify-content-center">
                    <div class="text-center">
                        <h2>5</h2>
                    </div>
                    <div class="text-center">
                        <p>Total Bathrooms</p>
                    </div>
                </div>
                <div class="col-md-4 pt-4 d-flex flex-column align-items-center justify-content-center">
                    <div class="text-center">
                        <h2>20</h2>
                    </div>
                    <div class="text-center">
                        <p>Total Guests</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-1">
        </div>
    </div>
</section>