
<div class="flower">
<h2 class="events">day visits</h2>
</div>
<h2 class="text">VENTURE TO THE COUNTRYSIDE
</h2>
<h6 class="party">Experience Simple Country Luxury when visiting Yin Ranch for a Day Visit! 
    We offer Brunch in the Flower Farm Pavilion,  a Seasonal You Pick Flower Farm, Garden Tours,
     Workshops to connect with nature and our beautiful Yolo Country countryside.
</h6>
 <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">VIEW EVENT CALENTER</a>
</div>
<div class="day-visits-container">
  <div class="visit-section">
    <div class="text-content">
      <h3>BRUNCH</h3>
      <p>
        Join us on the weekends for Brunch in our Flower Farm Pavilion most Saturdays & Sundays — 10:00am to 3:00pm with the kitchen closing at 2:30pm.
      </p>
      <p>
        Begin your Day Visit with a delicious meal and enjoy seasonal selections from our al-la-carte Brunch menu.
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
    <div class="image-content">
      <img src="assets/brunch/image65.jpg" alt="Brunch plate" />
    </div>
  </div>
</div>
<div class="day-visits-container">
  <div class="visit-section reverse">
    <div class="image-content">
      <img src="assets/brunch/image62.jpg" alt="Pick Your Own Bouquet" />
    </div>
    <div class="text-content">
      <h3>PICK YOUR OWN BOUQUET</h3>
      <p>Our Seasonal Flower Field is Now Open!</p>
      <p>
        Visit our seasonal flower farm for this exclusive experience. Enjoy the open space to connect with the flowers, and take home a beautiful hand picked bouquet.
        Our field is open seasonally May - October on most Saturdays and Sundays — 8:30am to 2:30pm.
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="day-visits-container">
  <div class="visit-section">
    <div class="text-content">
      <h3>dried floral experience</h3>
      <p>The Dried Floral Experience will return Fall 2025
      </p>
      <p>
       Pick and arrange your own dried flower bouquet in our dreamy Flower Barn.
        We’ve been preserving our favorite spring and summer blooms to offer this unique artisanal 
       experience you can’t find anywhere else!  
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
    <div class="image-content">
      <img src="assets/brunch/image65.jpg" alt="Brunch plate" />
    </div>
  </div>
</div>
<div class="day-visits-container">
  <div class="visit-section reverse">
    <div class="image-content">
      <img src="assets/brunch/image62.jpg" alt="Pick Your Own Bouquet" />
    </div>
    <div class="text-content">
      <h3>GARDEN TOURS</h3>
      <p>Garden Tours every 2nd & 4th Saturday’s of each month!</p>
      <p>
       Join us for a Seasonal guided tours and enjoy the maturity of 150 
       year old trees alongside our lovingly manicured gardens. We have thousands of perennials 
       throughout our grounds so 
       you’ll get a different experience each season.  
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="day-visits-container">
  <div class="visit-section">
    <div class="text-content">
      <h3>CREATIVE CLASSES</h3>
      <p>
      </p>
      <p>
      Join us for a Gather & Create Workshop in our Flower Barn! From making wreaths 
      and pumpkulents, to learning how to create seasonal arrangements, 
      you’ll bring out your inner creative and take home a beautiful creation!
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
    <div class="image-content">
      <img src="assets/brunch/image62.jpg" alt="Brunch plate" />
    </div>
  </div>
</div>
<div class="day-visits-container">
  <div class="visit-section reverse">
    <div class="image-content">
      <img src="assets/brunch/image62.jpg" alt="Pick Your Own Bouquet" />
    </div>
    <div class="text-content">
      <h3>THE MARKETPLACE  </h3>
      <p> Saturdays & Sundays 10am - 1pm </p>
      <p>
   For your kitchen, pantry and bath, the Marketplace 
   has house-made and thoughtfully selected items from local farms and makers. 
   Visit our flower barn with everlasting dried flowers or seasonal fresh flowers 
   ready for your table.
      </p>
      <button class="learn-more">LEARN MORE</button>
    </div>
  </div>
</div>
<h6 class="partys"><strong>Visitation Policies:</strong> </h6>
<p class="partyss">1. We kindly request guests refrain from smoking anywhere on the property,
     including the parking area.</p>
     <p class="partyss">2. Dogs and pets of any kind are not allowed at Yin Ranch.</p>
     <!-- <p clas="partyss">3. Pool access is not included.</p> -->
         <p class="partyss">3. Pool access is not included. </p>
     <p class="partyss">4. Outside food and beverages are not permitted. </p>