<section id="amenities" class="bg-gray-50">
  <div class="row">
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-7 text_inner">
      <h6>Information</h6>
      <h2>Amenities</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-10 text_inner">
      <div class="row text_inner">
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Hot tub</p>
          </div>
          <div class="amenities-text">
            <p>7 person Jetted hot tub. Jump from the Sauna to the Spa or cool off in the Creek all beneath the majesty
              of Mount Republic.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Sauna</p>
          </div>
          <div class="amenities-text">
            <p>12 person Authentic Woodburning Swedish Sauna overlooking a crystal clear cold pool of the Soda Butte
              Creek.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Indoor Fireplaces</p>
          </div>
          <div class="amenities-text">
            <p>Enjoy mountain ambiance with two large renaissance stone fireplaces, one in the Great Room, and one in
              the Master Suite.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Full Kitchen</p>
          </div>
          <div class="amenities-text">
            <p>Each Chalet has a full kitchen and all the essentials for gourmet dining in the High Country. Each chalet
              has its own grill.</p>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-sm-6 col-md-1">
    </div>
  </div>
</section>