<section id="book" class="section-padding bg-gray-50">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <img class="responsive-image" src="assets/images/cottage/yinranch-cottage1-1.jpg" alt="Yin Ranch Cottage"
        title="Yin Ranch Cottage" />
    </div>
    <div class="col-sm-6 col-md-5 text_inner">
      <h2>YIN RANCH COTTAGE - 1</h2>
      <p class="text_inner pt-1">
        A cottage at Yinranch is a charming blend of rustic elegance and modern comfort, offering a peaceful retreat surrounded by nature. Each cottage is thoughtfully designed with an open, airy layout that brings the outdoors in, with large windows framing stunning views of the rolling hills, gardens, or nearby forests.
      </p>
      <ul class="rounded-bullets">
        <li><strong>10 guests</strong></li>
        <li><strong>4 bedrooms</strong></li>
        <li><strong>5 beds</strong></li>
        <li><strong>3 baths</strong></li>
        <li><strong>Full Kitchen and Grill</strong></li>
        <li><strong>Wifi Internet</strong></li>
        <li><strong>Fitness Center</strong></li>
      </ul>
      <p class="text_book fw-bold pt-5">
        Price - $XXX
      </p>
      <a href="https://www.airbnb.com" target="_blank" class="btn btn-primary ms-3">
        Book Now
      </a>
    </div>
    <div class="col-sm-6 col-md-1 text_inner">
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-1">
    </div>
    <div class="col-sm-6 col-md-10">
      <hr>
    </div>
  </div>
</section>