<div id="weddings">
    <section class="weddings">
        <div class="image-content">
            <h1>WEDDINGS</h1>
        </div>
    </section>

    <section class="description">
        <h2>Your Dream Wedding</h2>
        <p>
            Nestled amidst the verdant farmlands of Northern California, yin Ranch is a five-star, historic wedding
            venue and country estate designed to bring a fairytale wedding to life. Wander through formal gardens, past
            an elegant historical Inn and chic event barn into a world of natural beauty. Surrounded by panoramic views
            of the Blue Hills, Park Winters embodies weddings of simple country luxury—with touches of sparkling
            splendor.
        </p>
        <p>&nbsp;</p>
        <p>
            Yin Ranch offers customized options to meet the wishes of each couple. Depending upon the season, Yin
            Ranch can accommodate up to 150-200 guests. Host a rehearsal dinner, the wedding of your dreams and a
            farewell brunch—we love weddings and are honored to assist in making your dreams come true.
        </p>
        <div class="button-wrapper">
            <button class="custom-common-btn" data-bs-toggle="modal" data-bs-target="#weddingInquiryModal">WEDDING
                INQUIRY</button>
        </div>
    </section>


    <section id="video-section">
        <div class="video-container">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/9ux44vFS02Q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </section>

    <section>
        <div class="package-container">
            <h2 class="heading">ESTATE WEDDING PACKAGE</h2>
            <p class="subtext">
                Pricing is determined per guest and includes all venue fees, as well as, the amenities shown below.
                The price per person varies based on menu and bar selection.
            </p>

            <div class="accordion-container">
                <div class="accordion-item"
                    *ngFor="let section of ['VENUE', 'CATERING', 'DESIGN AND DECOR', 'BAR SERVICE']">
                    <div class="accordion-header" (click)="toggleSection(section)">
                        <h3>{{ section }}</h3>
                        <span class="icon" [class.open]="isOpen(section)">
                            {{ isOpen(section) ? '-' : '+' }}
                        </span>
                    </div>

                    <div class="accordion-body" [@slideToggle]="isOpen(section) ? 'open' : 'closed'">
                        <ng-container [ngSwitch]="section">
                            <!-- VENUE -->
                            <ul *ngSwitchCase="'VENUE'">
                                <li>10 hours of exclusive event space use</li>
                                <li>Elegant indoor event barn</li>
                                <li>Organic farm, sleek pool, fire pit</li>
                                <li>Restored historical inn</li>
                                <li>Backup generator, Tesla chargers</li>
                            </ul>

                            <!-- CATERING -->
                            <div *ngSwitchCase="'CATERING'">
                                <ul>
                                    <li>Award-winning chef and kitchen staff</li>
                                    <li>Professional service waitstaff</li>
                                    <li>Complimentary cake cutting</li>
                                    <li>All dinnerware, glassware and flatware</li>
                                </ul>
                                <a class="menu-link">View Seasonal Buffet Menu</a><br>
                                <a class="menu-link">View Seasonal Plated Menu</a>
                            </div>

                            <!-- DESIGN AND DECOR -->
                            <ul *ngSwitchCase="'DESIGN AND DECOR'">
                                <li>Year-round climate controlled spaces</li>
                                <li>Romantic market lights strung above courtyard</li>
                                <li>Attractive white ceremony and dinner chairs with padded seats</li>
                                <li>Choice of round and rectangular dinner tables</li>
                                <li>High quality floor-length white table linens</li>
                                <li>Furnished lounge spaces</li>
                            </ul>

                            <!-- BAR SERVICE -->
                            <div *ngSwitchCase="'BAR SERVICE'">
                                <ul>
                                    <li>Pricing based on consumption</li>
                                    <li>Wine selection of two whites, two reds and one sparkling</li>
                                    <li>Eight beer selections in a variety of styles</li>
                                    <li>Full cocktail bar with eight spirits including liquors, cordials</li>
                                    <li>Customized signature cocktails available</li>
                                    <li>Unlimited complimentary non-alcoholic beverages</li>
                                    <li>Service of beer and wine if you wish to bring your own</li><br />
                                    ($20 wine corkage / $300 per keg)
                                </ul>
                                <a class="menu-link">View Bar Package Selection</a><br>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="next-step">
        <hr />
        <div>
            <h2 class="heading">READY TO TAKE NEXT STEP?</h2>
            <p>Please fill out the form below and we will contact you shortly. Thank you!</p>
        </div>
        <div class="button-wrapper-next">
            <button class="custom-common-btn" data-bs-toggle="modal" data-bs-target="#weddingInquiryModal">WEDDING
                INQUIRY</button>
        </div>
        <hr />
    </section>
    <section class="awards-recognition">
        <div>
            <h2 class="heading">AWARDS AND RECOGNITION</h2>
            <p>We are proud of the awards and recognition we have received:
                The Knot Best Of Weddings 2021</p>
            <p>#11 Highest-Rated Wedding Venue in America, <a class="menu-link">according to Yelp!</a> 2019</p>
            <p>KCRA A-List “Best Wedding Venue” 2015–2019</p>
            <p>Wedding Wire Couples’ Choice Award 2018–2019</p>
            <div class="image-wrapper">
                <img src="../../../../assets/wedding-and-events/wedding-gallery/image8.jpg" />
            </div>
        </div>
        <hr />
    </section>

    <section class="blog-section">
        <h2 class="section-title">WEDDINGS FEATURED ON OUR BLOG</h2>

        <div class="card-container">
            <div class="blog-card">
                <img src="../../../../assets/wedding-and-events/wedding-gallery/image6.webp" alt="Wedding 1">
                <h3>Pastels and Fortune Cookies Themed Wedding</h3>
                <p>For our March featured wedding, we chose to spotlight this sweet, personal and fun wedding.</p>
                <button class="read-more">READ MORE →</button>
            </div>

            <div class="blog-card">
                <img src="../../../../assets/wedding-and-events/wedding-gallery/image7.jpg" alt="Wedding 2">
                <h3>A Blush Pink Fairytale Wedding</h3>
                <p>Our February featured wedding was all the things that dreams are made of!</p>
                <button class="read-more">READ MORE →</button>
            </div>

            <div class="blog-card">
                <img src="../../../../assets/wedding-and-events/wedding-gallery/image8.jpg" alt="Wedding 3">
                <h3>A Celestial Celebration</h3>
                <p>We are enamored with the unique celestial themed wedding! 🌙✨</p>
                <button class="read-more">READ MORE →</button>
            </div>
        </div>
    </section>


    <section class="review-section">
        <h2 class="section-title">REVIEWS FROM PAST BRIDES</h2>

        <div class="review-widget">
            <div class="review-header">
                <span class="title">Read Our Reviews</span>
                <span class="stars"> <img src="/assets/wedding-and-events/weddings/stars.gif" /></span>
            </div>
            <p class="subtext">from past clients <a>49 reviews</a></p>

            <div class="review-card">
                <div class="rating"> <img src="/assets/wedding-and-events/weddings/stars.gif" /> <span
                        class="score">4.6/5.0</span></div>
                <p>
                    Yin Ranch was at the top of our list after getting engaged. We initially looked at this venue and
                    thought it would be a great fit, and...
                    <a>read full review</a>
                </p>
            </div>

            <div class="review-card">
                <div class="rating"> <img src="/assets/wedding-and-events/weddings/stars.gif" /> <span
                        class="score">5.0/5.0</span></div>
                <p>
                    We couldn’t envision ourselves getting married anywhere else! We loved Yin Ranch so much that we
                    booked it without ever seeing it in...
                    <a>read full review</a>
                </p>
            </div>

            <div class="review-card">
                <div class="rating"> <img src="/assets/wedding-and-events/weddings/stars.gif" /> <span
                        class="score">5.0/5.0</span></div>
                <p>
                    We’re wedding florists, and we loved working at Yin Ranch. The staff is incredibly professional
                    and the venue itself is beautiful. It...
                    <a>read full review</a>
                </p>
            </div>

            <div class="footer">
                <p>
                    Read all <a>49 Reviews</a> at
                </p>
                <img src="/assets/wedding-and-events/weddings/WWlogo.gif" alt="WeddingWire logo" />
            </div>
        </div>
    </section>


</div>

<!-- Modal -->
<div class="modal fade" id="weddingInquiryModal" tabindex="-1" aria-labelledby="weddingInquiryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content wedding-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="weddingInquiryLabel">Wedding Inquiry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="instruction">
                    Please fill out the form below so we can get back to you with availability and pricing.
                    The information provided will not be binding. It simply helps us to provide the most accurate
                    pricing information possible.
                </p>

                <form>
                    <!-- Name -->
                     <div class="row">
                        <div class="col">
                            <label class="form-label">Name <span>(required)</span></label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" required />
                        </div>
                        <div class="col">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" required />
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label">Email <span>(required)</span></label>
                        <input type="email" class="form-control" required />
                    </div>

                    <!-- Phone -->
                    <div class="mb-3">
                        <label class="form-label">Phone <span>(required)</span></label>
                        <input type="tel" class="form-control" required />
                    </div>

                    <!-- Guests -->
                    <div class="mb-3">
                        <label class="form-label">Approx. Number of Guests <span>(required)</span></label>
                        <p class="form-text text-muted">In order for us to provide an accurate quote for you, please
                            let us know an estimated guest count.</p>
                        <input type="number" class="form-control" required />
                    </div>

                    <!-- Month -->
                    <div class="mb-3">
                        <label class="form-label">Preferred Month Range</label>
                        <p  class="form-text text-muted">In order for us to provide a quote for you, please let us know the month range you are most interested in.</p>
                        <input type="text" class="form-control" />
                    </div>

                    <!-- Year -->
                    <div class="mb-3">
                        <label class="form-label">Preferred Year <span>(required)</span></label>
                        <input type="text" class="form-control" required />
                    </div>

                    <!-- Day(s) -->
                    <div class="mb-3">
                        <label class="form-label">Preferred Day(s) of the Week</label>
                        <p  class="form-text text-muted">In order for us to provide a quote for you, please let us know which days of the week you are most interested in.</p>
                        <input type="text" class="form-control" />
                    </div>

                    <!-- Source -->
                    <div class="mb-3">
                        <label class="form-label">How did you hear about Yin Ranch?</label>
                        <p class="form-text text-muted">Please check all that apply:</p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="insta" />
                            <label class="form-check-label" for="insta">Instagram/Facebook</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Google" />
                            <label class="form-check-label" for="insta">Google</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Pinterest" />
                            <label class="form-check-label" for="insta">Pinterest</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="iThe Knot" />
                            <label class="form-check-label" for="insta">The Knot</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Wedding Wire" />
                            <label class="form-check-label" for="insta">Wedding Wire</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Here Comes the Guide" />
                            <label class="form-check-label" for="insta">Here Comes the Guide</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Friend or family" />
                            <label class="form-check-label" for="insta">Friend or family</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Yelp" />
                            <label class="form-check-label" for="insta">Yelp</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="TikTok" />
                            <label class="form-check-label" for="insta">TikTok</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Other" />
                            <label class="form-check-label" for="insta">Other</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">If you selected other, please tell us how you heard
                            about Yin Ranch!</label>
                        <input type="text" class="form-control" />
                    </div>

                    <!-- Submit -->
                    <div class="mt-4">
                        <button type="submit" class="btn btn-submit">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>