<div class="stepper-wrapper mx-3">
    <div class="py-3 text-center">
        <h1>Inquire with us</h1>
        <p>We'll match you with an expert to make event planning a breeze!</p>
    </div>


    <div class="external-form-container mt-4">
        <iframe src="https://yinranchmanagement.tripleseat.com/party_request/47501" width="100%" height="1700"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <div class="contact-wrapper">
        <div class="contact-info">
            <h2>The Yin Ranch</h2>
            <p>
                For more information about the Yin Ranch, to make reservations for an upcoming visit,
                or to leave a comment or suggestion about a recent experience with us, please contact us today.
            </p>

            <div class="info-item">
                <span class="icon"><i class="bi bi-geo-alt-fill"></i></span>
                <span>6319 Pleasants Valley Rd<br />Vacaville, CA 95688</span>
            </div>

            <div class="info-item">
                <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                <!-- <span>510.848.7800</span> -->
                <span>707-770-8695</span>
            </div>

            <div class="info-item">
                <span class="icon"><i class="bi bi-envelope"></i></span>
                <span>yinranch&#64;gmail.com</span>
            </div>
        </div>

        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3128.4396354288187!2d-122.030013!3d38.36195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085183bd983f713%3A0xdcb1d5514474dd3e!2sYin%20Ranch%20Events!5e0!3m2!1sen!2sus!4v1762363644666!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>