<div class="stepper-wrapper mx-3">
    <div class="py-3 text-center">
        <h4>INQUIRE WITH US</h4>
        <p>We'll match you with an expert to make event planning a breeze!</p>
    </div>

    <div class="stepper d-flex justify-content-center mb-2">
        <div class="step" [ngClass]="{ 'active': currentStep == 1, 'completed': currentStep > 1}" (click)="onClickToChangeStep(1)">
            <div class="circle">1</div>
            <div class="line"></div>
        </div>
        <div class="step" [ngClass]="{ 'active': currentStep == 2, 'completed': currentStep > 2 }" (click)="onClickToChangeStep(2)">
            <div class="circle">2</div>
            <div class="line"></div>
        </div>
        <div class="step" [ngClass]="{ 'active': currentStep == 3 }" (click)="onClickToChangeStep(3)">
            <div class="circle">3</div>
        </div>
    </div>

    <form [formGroup]="contactForm">
        <div class="step-content">
            <div *ngIf="currentStep == 1">
                <h6 class="mb-4">Step 1: Contact Info</h6>
                <div class="mb-3">
                    <label class="form-label">EMAIL<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    <small
                        *ngIf="contactForm.get('email')?.errors?.['required'] && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched || submitted)">
                        Email is required
                    </small>
                    <small
                        *ngIf="contactForm.get('email')?.errors?.['email'] && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched || submitted)">
                        Enter a valid email address
                    </small>
                </div>
                <div class="mb-3">
                    <label class="form-label">FIRST NAME<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                    <small
                        *ngIf="contactForm.get('firstName')?.errors?.['required'] && (contactForm.get('firstName')?.touched || submitted)">
                        First Name is required
                    </small>
                    <small
                        *ngIf="contactForm.get('firstName')?.errors?.['pattern'] && (contactForm.get('firstName')?.touched || submitted)">
                        First name should contain only letters
                    </small>
                </div>
                <div class="mb-3">
                    <label class="form-label">LAST NAME<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                    <small
                        *ngIf="contactForm.get('lastName')?.errors?.['required'] && (contactForm.get('lastName')?.touched || submitted)">
                        Last Name is required
                    </small>
                    <small
                        *ngIf="contactForm.get('lastName')?.errors?.['pattern'] && (contactForm.get('lastName')?.touched || submitted)">
                        Last name should contain only letters
                    </small>
                </div>
                <div class="mb-3">
                    <label class="form-label">PHONE NUMBER<span class="text-danger">*</span></label>
                    <input type="tel" class="form-control" placeholder="Phone number" formControlName="phoneNumber">
                    <small
                        *ngIf="contactForm.get('phoneNumber')?.invalid && (contactForm.get('phoneNumber')?.dirty || contactForm.get('phoneNumber')?.touched||submitted)">
                        Phone Number is required
                    </small>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="consent" formControlName="termsAndCondition">
                    <label class="form-check-label small" for="consent">
                        By checking this box, I consent to receive information via text message from Wedgewood
                        Weddings &
                        Events in accordance with the
                        <a href="#" class="text-decoration-underline">Terms of Use</a> and
                        <a href="#" class="text-decoration-underline">Privacy Policy</a>. I agree to receive
                        recurring
                        messages from Wedgewood Weddings & Events related to my queries and appointment remainders.
                        Message and data rates may apply. Carriers are not liable for delayed or undelivered
                        messages.
                        I also confirm that you have the authority to send text messages on the number I provided.
                        Text HELP for assistance and STOP to unsubscribe.
                    </label>
                </div>

                <div class="text-end">
                    <button type="button" class="btn custom-button-form px-4 mb-4" (click)="next()">NEXT</button>
                </div>
            </div>
            <div *ngIf="currentStep == 2">
                <h6 class="mb-4">Step 2: Find your venue</h6>
                <div class="mb-3">
                    <label class="form-label">WHICH SPECIFIC VENUE DO YOU LIKE?</label>
                    <select id="venueType" class="form-control" name="venueType" formControlName="venueName">
                        <option value="" disabled selected>Please select</option>
                        <option value="Arizona">Arizona</option>
                        <option value="California - Northern">California - Northern</option>
                        <option value="California - Sourthern">California - Sourthern</option>
                        <option value="Colorodo">Colorodo</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New England">New England</option>
                        <option value="Texas">Texas</option>
                        <option value="North Carolina">North Carolina</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">WHAT EVENT ARE YOU HOSTING?</label>
                    <select id="eventType" class="form-control" name="eventType" formControlName="eventName">
                        <option value="" disabled selected>Please select</option>
                        <option value="Wedding">Wedding</option>
                        <option value="Corporate">Corporate</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="text-end">
                    <button type="button" class="btn custom-button-form px-4 mb-4"
                        (click)="goToFinalStep(3)">NEXT</button>
                </div>
            </div>
            <div *ngIf="currentStep == 3">
                <h6 class="mb-4">Step 3: Event Details</h6>
                <div class="mb-3">
                    <label class="form-label">WHERE ARE YOU IN THE PROCESS OF FINDING A VENUE?</label>
                    <select id="venueType" class="form-control" name="venueType"
                        formControlName="venueSearchingProcess">
                        <option value="" disabled selected>Please select</option>
                        <option value="Just starting to browse">Just starting to browse</option>
                        <option value="Figuring out budget and costs">Figuring out budget and costs</option>
                        <option value="Deciding between venues">Deciding between venues</option>
                        <option value="Ready to book">Ready to book</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">WHICH TYPE OF VENUE PACKAGE APPEALS MOST OF YOU?</label>
                    <select id="eventType" class="form-control" name="eventType" formControlName="venuePackageType">
                        <option value="" disabled selected>Please select</option>
                        <option value="Raw Space: We want to book all our own vendors">Raw Space: We want to book all
                            our own vendors</option>
                        <option value="Limited Services: We'd like a space that comes with a few things">Limited
                            Services: We'd like a space that comes with a few things</option>
                        <option value="All inclusive: Let's make this easy and fun!">All inclusive: Let's make this easy
                            and fun!</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Is there anything else we should know?</label>
                    <textarea class="form-control" id="message" name="message" rows="6"
                        formControlName="message"></textarea>
                </div>
                <div class="text-end">
                    <button type="button" class="btn custom-button-form px-4 mb-4" (click)="addContact()">EXPLORE MY
                        WEDDING OPTIONS</button>
                </div>
            </div>
        </div>
    </form>

    <div class="contact-wrapper">
        <div class="contact-info">
            <h2>The Yin Ranch</h2>
            <p>
                For more information about the Yin Ranch, to make reservations for an upcoming visit,
                or to leave a comment or suggestion about a recent experience with us, please contact us today.
            </p>

            <div class="info-item">
                <span class="icon"><i class="bi bi-geo-alt-fill"></i></span>
                <span>6319 Pleasants Valley Rd<br />Vacaville, CA 95688</span>
            </div>

            <div class="info-item">
                <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                <span>510.848.7800</span>
            </div>

            <div class="info-item">
                <span class="icon"><i class="bi bi-envelope"></i></span>
                <span>yinranch&#64;gmail.com</span>
            </div>
        </div>

        <div class="map-container">
            <google-map height="300px" width="100%" [center]="center" [zoom]="15">
                <map-marker [position]="center"></map-marker>
            </google-map>
        </div>
    </div>
</div>