<div class="amenities">
<h2 class="events">Amenities</h2>
</div>
<h2 class="text"> INDULGE IN SIMPLE COUNTRY LUXURY</h2>
<h6 class="party">The Inn at Yin Ranch celebrates luxury with exquisitely appointed rooms,
     linens and robes, an elegant pool, a library and conversation salons, and a seasonally inspired breakfast. 
     Savor the views overlooking our historic grounds,
     beautifully manicured gardens and surrounding landscape. </h6>
     <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<div class="amenities-section">
  <div class="amenity-item">
    <img src="/assets/brunch/image66.jpg" alt="Special Touches" class="amenity-image">
    <div class="amenity-text">
      <h3>SPECIAL TOUCHES</h3>
      <p>
        Bright, natural light and subtle colors infuse each space with an elegant ambiance. Each room is furnished with antiques found around the world—all with views of our serene gardens.<br><br>
        You'll find luxurious Egyptian cotton linens on our beds, opulent bathrooms, Frette robes and organic bath and body products. All rooms also have premium satellite channels.
      </p>
    </div>
  </div>

  <div class="amenity-item">
    <img src="/assets/home/image54.jpg" alt="Pool and Hot Tub" class="amenity-image">
    <div class="amenity-text">
      <h3>POOL AND HOT TUB</h3>
      <p>
        Slip into our beach entry pool to melt away the day or enjoy a contemplative soak in our relaxing hot tub. 
        We have a state-of-the-art sound system to customize your music choices for an evening with friends as you watch the stars appear.
      </p>
    </div>
  </div>

  <div class="amenity-item">
    <img src="/assets/home/image53.jpg" alt="Fire Feature" class="amenity-image">
    <div class="amenity-text">
      <h3>FIRE FEATURE</h3>
      <p>
        Overlooking the distant mountains and fields is our majestic 24-foot fire feature. 
        The perfect spot to visit with another or read a book from our library while savoring a bubbly, a glass of wine or local craft beer.
      </p>
    </div>
  </div>
<div class="amenity-item">
    <img src="/assets/home/image53.jpg" alt="Fire Feature" class="amenity-image">
    <div class="amenity-text">
      <h3>BREAKFAST FOR TWO</h3>
      <p>
        Sourced from the region’s finest ingredients, breakfast at the Inn is seasonally inspired by farms nearby. Our own kitchen prepares it to perfection
         with fresh brewed coffee and a selection of fine teas. 
      </p>
    </div>
  </div>
<div class="amenity-item">
    <img src="/assets/home/image51.jpg" alt="Fire Feature" class="amenity-image">
    <div class="amenity-text">
      <h3>OUR GARDENS AND FARM</h3>
      <p>
      Shaded walkways, a lovely fountain in the distance, lavender and rose gardens to view—Yin Ranch is an invitation to melt away the everyday. <br><br>

The Yin Ranch Flower Farm is nestled in the midst of fields,
 orchards and lush farmlands and is open for day visits. From our flower field and barn to 
 our sunset lounge to linger—The Yin Ranch Flower Farm weaves memories into each view and every moment.  
      </p>
    </div>
  </div>
  </div>
<div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">DAY VISITS</a>
</div>
<section class="brunch-section">
  <div class="image-grid">
    <img src="/assets/brunch/image64.jpg" class="image-brunch" alt="brunch1">
    <img src="/assets/brunch/image73.jpg" class="image-brunch" alt="brunch2">
     <img src="/assets/brunch/image62.jpg" class="image-brunch" alt="brunch2">
  </div>