.lodging-container {
    margin-top: 90px;

    .venue-card {
        height: 400px;
        border-radius: 10px;
        cursor: pointer;

        .venue-image {
            height: 100%;
            background-size: cover;
            background-position: center;
            transition: transform 0.3s ease-in-out;
            background-repeat: no-repeat;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .venue-info {
        font-weight: 500;
        line-height: 1;
        margin-top: 10px;

        .venue-title {
            font-size: 1rem;
            font-weight: 600;
        }

        .venue-capacity {
            font-size: 0.85rem;
            font-weight: 400;
        }
    }
}