<div class="background-brunch">
  <h2 class="dining-hall">YIN RANCH BRUNCH</h2>
</div>
<section>
  <h1 class="flower">DINE AMONG THE FLOWERS</h1>
  <p>Join us for a leisurely brunch in our open-air pavilion, surrounded by the beauty of our blooming Flower Farm and
    sweeping views of the Berryessa Mountains. It's the perfect setting to relax,
    reconnect, and enjoy the countryside as spring unfolds.</p>
  <p>Whether you're celebrating a special occasion or simply savoring a slow morning, our al fresco brunch experience
    invites you to gather with friends, family, or
    loved ones in a setting that feels both indulgent and effortless.</p>
  <p>Due to private events and seasonal scheduling, we recommend booking ahead to ensure availability and the best
    experience</p>
  <p>
    Brunch is offered most <span class="bold"><b>Saturdays & Sundays from 10:00 AM to 3:00 PM</b></span> with the
    kitchen closing at <span class="bold">2:30 PM</span>
  </p>
  <div class="button-wrapper">
    <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#bookingModal">
      RESERVATIONS
    </button>
    <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center p-4">
          <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
          <h2 class="modal-title mt-2" id="bookingModalLabel">JOIN US</h2>
          <p class="mt-2 fw-semibold">Find a Table</p>
          <form>
            <div class="mb-2">
              <input type="date" class="form-control" />
            </div>
            <div class="mb-2">
              <input type="time" class="form-control" />
            </div>
            <div class="mb-3">
              <select class="form-control">
                <option>2 people</option>
                <option>1 people</option>
                <option>2 people</option>
                <option>3 people</option>
                <option>4 people</option>
                <option>5 people</option>
                <option>6 people</option>
                <option>7 people</option>
                <option>8 people</option>
                <option>9 people</option>
                <option>11 people</option>
                <option>12 people</option>
                <option>13 people</option>
                <option>14 people</option>
                <option>15 people</option>
                <option>16 people</option>
                <option>17 people</option>
                <option>18 people</option>
                <option>19 people</option>
                <option>20 people</option>
              </select>
            </div>
            <button class="table">Find a Table </button>
          </form>
        </div>
      </div>
    </div>

    <button class="custom-button btn btn-secondary">SAMPLE BRUNCH MENU</button>
  </div>
</section>
<div>
  <hr class="margin-line">
</div>
<section class="brunch-section">
  <div class="image-grid">
    <img src="assets/brunch/image64.jpg" class="image-brunch" alt="brunch1">
    <img src="assets/brunch/image73.jpg" class="image-brunch" alt="brunch2">
    <img src="assets/brunch/image67.jpg" class="image-brunch" alt="brunch3">
    <img src="assets/brunch/image71.jpg" class="image-brunch" alt="brunch4">
    <img src="assets/brunch/image74.jpg" class="image-brunch" alt="brunch5">
    <img src="assets/brunch/image75.jpg" class="image-brunch" alt="brunch6">
  </div>
  <div>
    <p class="park">Address : 6319 Pleasants Valley Rd, Vacaville, CA <span class="number"> 95688</span></p>



  </div>
  <div class="modal-dialog modal-dialog-centered">

  </div>

</section>