<div class="corporate-events">
<h2 class="events">Corporate Events</h2>
</div>
<section>
<h2 class="text"> NURTURE TEAM-BUILDING IN OUR COUNTRY OASIS</h2>
<h6 class="party">Yin Ranch offers a unique and relaxed corporate event space far-removed from the standard office environment. 
A one-of-a-kind place for corporate retreats in Northern California, Park Winters is the ideal 
  location to host a retreat, all-day meeting, celebration or <a class="red">holiday party.</a>
</h6>
<h6 class="party">Entertain clients, employees, and business associates in our elegant event barn or restored Inn, or book a 
  team-building day with one of our day experiences including<a class="red">Pick Your Own Bouquet, Garden or Farm Tours</a> Create a memorable experience with a guided tour of our gardens and flower farm, 
  wine tasting featuring local wineries or a bicycle ride through the countryside. 

</h6>
  <h6 class="party">When the day winds down, relax by the fire with a cocktail and watch the sun set over picturesque fields.
     Discuss business, host workshops, and secure deals without the pressures and predictable conditions found in an office or hotel
      corporate event space. As a secluded place to host retreats in Northern California, yin ranch enables you to talk business, dine, and bond with clients,
       investors and business partners.
</h6>

 <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">EVENT INQUIRY</a>
</div>
</section>
<div class="media-page">
   <div class="video-container">
    <iframe src="https://www.youtube.com/embed/9ux44vFS02Q" frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
     <div class="accordion-container">
                <div class="accordion-item"
                    *ngFor="let section of ['VENUE', 'CATERING', 'DESIGN AND DECOR', 'BAR SERVICE']">
                    <div class="accordion-header" (click)="toggleSection(section)">
                        <h3>{{ section }}</h3>
                        <span class="icon" [class.open]="isOpen(section)">
                            {{ isOpen(section) ? '-' : '+' }}
                        </span>
                    </div>

                    <div class="accordion-body" [@slideToggle]="isOpen(section) ? 'open' : 'closed'">
                        <ng-container [ngSwitch]="section">
                            <!-- VENUE -->
                            <ul *ngSwitchCase="'VENUE'">
                                
                                <li>10 hours of exclusive event space use</li>
                                <li> Idyllic gardens with endless ceremony and reception options</li>
                                <li>Elegant indoor event barn</li>
                                <li>Restored historical Inn</li>
                                <li> Organic farm</li>
                                <li>Organic farm, sleek pool, fire pit</li>
                                <li>Beautiful dressing rooms for Bride and Groom</li>
                                <li>State-of-the-art sound system</li>
                                <li> Guest restrooms</li>
                                <li>Commercial backup generator with the ability to power entire event space in case of a power outage </li>
                                <li> Large parking lot, featuring three Tesla chargers</li>
                                <li>Overnight accommodations available for additional fees</li>
                            </ul>

                            <!-- CATERING -->
                            <div *ngSwitchCase="'CATERING'">
                                <ul>
                                    <li>Award-winning chef and kitchen staff</li>
                                    <li>Professional service waitstaff</li>
                                    <li>Complimentary cake cutting</li>
                                    <li>All dinnerware, glassware and flatware</li>
                                </ul>
                                <a class="menu-link">View Seasonal Buffet Menu</a><br>
                                <a class="menu-link">View Seasonal Plated Menu</a>
                            </div>

                            <!-- DESIGN AND DECOR -->
                            <ul *ngSwitchCase="'DESIGN AND DECOR'">
                                <li>Year-round climate controlled spaces</li>
                                <li>Romantic market lights strung above courtyard</li>
                                <li>Attractive white ceremony and dinner chairs with padded seats</li>
                                <li>Choice of round and rectangular dinner tables</li>
                                <li>High quality floor-length white table linens</li>
                                <li>Furnished lounge spaces</li>
                            </ul>

                            <!-- BAR SERVICE -->
                            <div *ngSwitchCase="'BAR SERVICE'">
                                <ul>
                                    <li>Pricing based on consumption</li>
                                    <li>Wine selection of two whites, two reds and one sparkling</li>
                                    <li>Eight beer selections in a variety of styles</li>
                                    <li>Full cocktail bar with eight spirits including liquors, cordials</li>
                                    <li>Customized signature cocktails available</li>
                                    <li>Unlimited complimentary non-alcoholic beverages</li>
                                    <li>Service of beer and wine if you wish to bring your own</li><br />
                                    ($20 wine corkage / $300 per keg)
                                </ul>
                                <a class="menu-link">View Bar Package Selection</a><br>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <hr class="line">
            <h2 class="text">LET'S TALK!</h2>
<h6 class="form">Please fill out the form below and we will contact you shortly. Thank you!</h6>

  <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">EVENT INQUIRY</a>
</div>
<hr class="lines">
<section class="brunch-section">
  <div class="image-grid">
    <img src="/assets/brunch/image64.jpg" class="image-brunch" alt="brunch1">
    <img src="/assets/brunch/image73.jpg" class="image-brunch" alt="brunch2">
    <img src="/assets/brunch/image67.jpg" class="image-brunch" alt="brunch3">
    <img src="/assets/brunch/image71.jpg" class="image-brunch" alt="brunch4">
    <img src="/assets/brunch/image74.jpg" class="image-brunch" alt="brunch5">
    <img src="/assets/brunch/image75.jpg" class="image-brunch" alt="brunch6">
  </div>
  <div>
