<section id="attractions" class="bg-gray-50">
  <div class="row">
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-10 text_inner">
      <h6>Location</h6>
      <h2>Abundant Attractions</h2>
      <p>Yinranch offers a variety of attractions that make it a unique and memorable destination for guests. Whether you're looking to relax, explore, or celebrate, the ranch’s natural beauty and diverse offerings will captivate you. Here are some key attractions:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-10 text_inner">
      <div class="row text_inner">
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Scenic Nature Trails</p>
          </div>
          <div class="amenities-text">
            <p>Wander through lush forests, meadows, and tranquil landscapes on the ranch's scenic trails. Ideal for hiking, nature walks, or simply reconnecting with the outdoors, these trails offer breathtaking views and moments of serenity.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Horseback Riding Adventures </p>
          </div>
          <div class="amenities-text">
            <p>Experience the beauty of the surrounding countryside on horseback. Guided riding tours are available for all skill levels, offering an intimate way to explore the ranch's vast landscapes and wildlife.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Outdoor Wedding Venues</p>
          </div>
          <div class="amenities-text">
            <p>Yinranch’s stunning outdoor wedding spaces are perfect for couples seeking a romantic and picturesque setting for their ceremony.</p>
          </div>
        </div>
        <div class="col-md-3 pt-4 d-flex flex-column">
          <div class="amenities-head-text">
            <p>Stargazing</p>
          </div>
          <div class="amenities-text">
            <p>Away from the bright lights of the city, the ranch offers clear skies for stargazing. Guests can enjoy the peaceful night air while taking in constellations and the beauty of the night sky.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-1">
    </div>
  </div>
  <div fxFill fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="row wrap" class="app-gallery">
      <ng-container *ngFor="let image of data">
        <div class="image-item">
          <img [src]="image.url" alt="Image">
        </div>
      </ng-container>
    </div>
    <mat-paginator [length]="data2.length"
    [pageSize]="size"
    [pageIndex]="page"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="getData($event)">
    </mat-paginator>
  </div>
</section>