<div class="the-inn">
<h2 class="events">The Inn at yain ranch</h2>
</div>
<h2 class="text"> ESCAPE TO OUR COUNTRY OASIS</h2>
<h6 class="party">Enjoy a stay at our romantic boutique bed and breakfast in Northern California.
     A lovingly restored 1865 historic farm house, the Inn features four elegantly appointed guest suites, 
     a dining room, social parlors, pool and hot tub. The Inn at Yin Ranch is ideal for any 
    special getaway, anniversary or babymoon.</h6>
    <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<div class="media-page">
   <div class="video-container">
    <iframe src="https://www.youtube.com/embed/9ux44vFS02Q" frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
 <div class="room-section">
  <div class="room-text">
    <h2 class="room">FOUNTAIN ROOM</h2>
    <h6 class="top">
      At the top of the staircase, the Fountain Room overlooks our beautiful 
      fountain and gardens. This spacious room hosts a king-size bed and
      seating area. The sunny, spa-like bathroom has a double shower and 
      private balcony overlooking the front lawn. 
      This room is 400 square feet and comfortably sleeps two people.
    </h6>
    <b class="rate">RATES:</b>
    <h6 class="top">
      Friday – Sunday : $575/night<br>
      Monday – Thursday : $525/night
    </h6>
    <h6 class="based">Rate based on double occupancy</h6>
  </div>

  <div class="room-carousel">
    <ngb-carousel *ngIf="images.length > 0" class="carousel">
      <ng-template ngbSlide *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Room Image {{ i + 1 }}" class="carousel-img" />
      </ng-template>
    </ngb-carousel>
  </div>
</div>
  <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<div class="room-section">
  <div class="room-text">
    <h2 class="room">PECAN ROOM</h2>
    <h6 class="top">
      This large room looks out onto the majestic 150-year-old pecan tree and lawns.
       It features a luxurious king-size bed, sofa, and sitting area. 
       It’s our only room that boasts a soaking tub and separate shower.
       The Pecan Room is 383 square feet and comfortably sleeps two people.
    </h6>
    <b class="rate">RATES:</b>
    <h6 class="top">
      Friday – Sunday: $575/night<br>
Monday – Thursday: $525/night


    </h6>
    <h6 class="based">Rate based on double occupancy</h6>
  </div>

  <div class="room-carousel">
    <ngb-carousel *ngIf="images.length > 0" class="carousel">
      <ng-template ngbSlide *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Room Image {{ i + 1 }}" class="carousel-img" />
      </ng-template>
    </ngb-carousel>
  </div>
</div>
  <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<div class="room-section">
  <div class="room-text">
    <h2 class="room">OLIVE ROOM</h2>
    <h6 class="top">
     The windows from the Olive Room overlook two romantic olive trees and lush grounds.
      This charming room is styled and furnished with a king-size bed and bathroom with shower. 
     At 260 square feet, it comfortably sleeps two people.
    </h6>
    <b class="rate">RATES:</b>
    <h6 class="top">
      Friday – Sunday: $525/night<br>
Monday – Thursday: $475/night


    </h6>
    <h6 class="based">Rate based on double occupancy</h6>
  </div>

  <div class="room-carousel">
    <ngb-carousel *ngIf="images.length > 0" class="carousel">
      <ng-template ngbSlide *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Room Image {{ i + 1 }}" class="carousel-img" />
      </ng-template>
    </ngb-carousel>
  </div>
</div>
  <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<div class="room-section">
  <div class="room-text">
    <h2 class="room">TOWER SUITE</h2>
    <h6 class="top">
      This separate three-story guesthouse is located behind the Inn. Originally the windmill 
      water tower, it has been renovated into a charming cottage with a full kitchen, 
      living area, bedroom with full-size bed and 1.5 bathrooms. 
      The third level bedroom offers a fantastic bird’s eye views of the surrounding 
      fields and mountains. The Tower Suite is 525 square feet.
    </h6>
    <b class="rate">RATES:</b>
    <h6 class="top">
      Friday – Sunday: $575/night<br>
      Monday – Thursday: $525/night
    </h6>
    <h6 class="based">Rate based on double occupancy</h6>
  </div>

  <div class="room-carousel">
    <ngb-carousel *ngIf="images.length > 0" class="carousel">
      <ng-template ngbSlide *ngFor="let img of images; let i = index">
        <img [src]="img" alt="Room Image {{ i + 1 }}" class="carousel-img" />
      </ng-template>
    </ngb-carousel>
  </div>
</div>
  <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">BOOK NOW</a>
</div>
<hr class="line">
<img src="assets/home/image53.jpg" class="img">
 <div class="button-container">
  <a href="#" routerLink="/event-inquiry" class="event-button">VIEW AMENITIES</a>
</div>
<hr class="line">
<h2 class="text">PHOTO TOUR</h2>
<div id="wedding-gallery">
  <section class="gallery-section">
    <div class="row">
      <div class="column">
        <img src="assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/images.jpeg">
        <img src="assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image5.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image3.jpg">
      </div>
      <div class="column">
        <img src="assets/wedding-and-events/wedding-gallery/image7.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/images.jpeg">
      </div>
      <div class="column">
        <img src="assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image5.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/images.jpeg">
        <img src="assets/wedding-and-events/wedding-gallery/image8.jpg">
      </div>
      <div class="column">
        <img src="assets/wedding-and-events/wedding-gallery/image7.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="assets/wedding-and-events/wedding-gallery/images.jpeg">
      </div>
    </div>
  </section>
</div>
<div class="tripadvisor-card">
  <div class="tripadvisor-header">
    <img src="assets/header/download.png" alt="Tripadvisor Logo" class="logo" />
    <h2>Yin Ranch</h2>
  </div>

  <div class="rating-section">
    <p class="rating-title">Tripadvisor Traveler Rating</p>
    <div class="stars">
      <span class="circle" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class.filled]="i <4"></span>
      <span class="review-count">49 reviews</span>
    </div>
  </div>

  <div class="ranking">
    <p class="rank-label">Tripadvisor Ranking</p>
    <h3>#1 of 2 B&Bs in Yin Ranch</h3>
  </div>

  <div class="reviews">
    <p>Recent Traveler Reviews</p>
    <ul>
      <li>“Fun times”</li>
      <li>“April Showers brought May Flowers!”</li>
      <li>“Beautiful day at the Farm”</li>
      <li>“You will never want to leave!”</li>
      <li>“Garden tour and brunch”</li>
    </ul>
  </div>

  <div class="links">
    <a href="#">Read reviews</a>
    <span>|</span>
    <a href="#">Write a review</a>
  </div>
</div>

