<!-- <section class="subscribe-section">
    <div class="overlay">
        <h1 class="title">CONTACT US</h1>
        <p>&nbsp;</p>
        <p class="description">
        </p>
        <form class="subscribe-form">
            <input type="text" placeholder="First name" required />
            <input type="text" placeholder="Last name" required />
            <input type="email" placeholder="Email address" required />

        </form>
    </div>
    <div class="contact-form">
        <label for="message">Message</label>
        <textarea id="message" placeholder="Enter your message here..."></textarea>
    </div>
    <form class="subscribe-form">
        <button type="submit">SIGN UP</button>
    </form>
</section> -->
<footer class="footer-section">
    <div class="footer-top">
        <div class="footer-column">
            <!-- <h3>FOLLOW US</h3> -->
            <div class="social-icons">
                <span><img src="assets/footer/instagram.png" /></span>
                <span><img src="assets/footer/facebook.png" /></span>
                <span><img src="assets/footer/pinterest.png" /></span>
                <span><img src="assets/footer/youtube.png" /></span>
                <span><img src="assets/footer/yelp.png" /></span>
            </div>
        </div>
        <div class="footer-column">
            <!-- <h3>CALENDAR OF EVENTS</h3> -->
            <button class="custom-button" [routerLink]="['/contact-us']">CONTACT US</button>
            <p><i class="bi bi-telephone-fill me-1"></i> <a> 707-770-8695</a></p>
        </div>
        <div class="footer-column">
            <!-- <h3>LEAVE A REVIEW</h3> -->
            <button class="custom-button">LEAVE A REVIEW</button>
        </div>
    </div>
    <hr />
    <div class="footer-bottom">
        <p class="description">
            Yin Ranch | 6319 Pleasants Valley Rd, Vacaville, CA 95688
        </p>
        <p class="bottom-text">© 2025, Yin Ranch</p>
    </div>
</footer>