.subscribe-section {
    background-image: url('/yinranchtest/assets/footer/footer-flowers.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 20px;

    .overlay {
        display: inline-block;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .title {
        font-size: 37px;
        font-weight: var(--font-weight-sm);
        font-family: var(--font-family-standard);
        margin-bottom: 20px;
        color: var(--font-color-secondary);
        letter-spacing: 0px;
        text-transform: none;
    }

    .description {
        width: 100%;
        margin-bottom: 30px;
        color: var(--font-color-secondary);
        font-size: var(--font-size-md);
        text-align: center;
        font-family: var(--font-family-muli);
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.1px;
        text-transform: none;
        box-sizing: border-box;
    }

    .subscribe-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        input {
            padding: 12px 20px;
            font-size: var(--font-size-md);
            border: none;
            border-radius: 4px;
            flex: 1;

            &:focus-visible {
                outline: none;
            }
        }

        input::placeholder {
            color: #000;
            font-size: 13px;
        }

        button {
            background-color: #f59d8a;
            color: #000000;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: var(--font-weight-bold);
            padding: 12px 45px;
            font-size: 13px;
            font-family: var(--font-family-muli);
            margin-bottom: 30px;
        }
    }
}

.footer-section {
    background: #fefdf5;
    padding: 40px 20px;
    text-align: center;
    font-size: 14px;

    @media (max-width: 600px) {
        padding: 30px 15px;
    }

    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 30px;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }

        .footer-column {
            margin: 20px 0;

            @media (max-width: 600px) {
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            h3 {
                font-size: 24px;
                letter-spacing: .03em;
                line-height: 1.5em;
                font-family: var(--font-family-standard);
                color: #6d6b5a;
                margin-bottom: 15px;
                font-weight: var(--font-weight-sm);
            }

            .social-icons {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin: 0 5px;
                    cursor: pointer;

                    @media (max-width: 600px) {
                        margin: 0 8px;
                    }

                    img {
                        width: 24px;

                        @media (max-width: 600px) {
                            width: 28px;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        color: #aaaca5;
        margin-top: 20px;

        p {
            font-family: var(--font-family-muli);
            font-weight: 300;
            font-style: normal;
            letter-spacing: .01em;
            line-height: 1.7em;
            text-transform: none;


        }

        .description {
            font-size: 16px;
        }

        .bottom-text {
            font-size: 12px;
        }

        .phone {
            color: #f6a18c;
            border-color: rgba(240, 147, 132, .15);

            &:hover {
                color: rgba(240, 147, 132, .6);
                transition: border-color .15s ease-out, color .15s ease-out;
            }
        }
    }

    hr {
        border: none;
        height: 1px;
        background: #ccc;
        margin: 30px 0;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    width: 43%;
    margin-top: 1px;

}

.contact-form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #5b5959;
    margin-right: 89%;
    font-size: var(--font-size-md);


}

.contact-form textarea {
    resize: none;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;

    &:focus-visible {
        outline: none;
    }
}