<section id="banner" class="bg-gray-50">
    <div class="row">
        <div class="col-sm-2 col-md-12">
            <!-- <carousel>
                <slide>
                  <img src="assets/images/gallery/yinranch_gallery-1.jpg" alt="Slide 1">
                </slide>
                <slide>
                  <img src="assets/images/gallery/yinranch_gallery-2.jpg" alt="Slide 2">
                </slide>
                <slide>
                  <img src="assets/images/gallery/yinranch_gallery-3.jpg" alt="Slide 3">
                </slide>
              </carousel> -->
            <img class="responsive-image" src="assets/images/yinranch_banner-1.jpg" alt="Yin Ranch Banner"
                title="Yin Ranch Banner" />
        </div>
    </div>
</section>