<div class="background-container">
    <h2 class="Index-gallery">SIMPLE COUNTRY LUXURY</h2>
</div>

<section>
    <h3>
        Nestled in the lush farmlands of Northern California, Yin Ranch is a private country estate just outside the
        charming,
        <span class="subline">town of Yin Ranch.</span>
    </h3>
    <p>
        Our one-of-a-kind estate features dreamy gardens, a historical inn, an elegant white barn and two rustic barns,
        a chic pool and hot tub, a quaint organic farm, and sweeping views of the countryside. Yin Ranch serves as an
        award-winning Northern California wedding event venue, a luxurious bed and breakfast and offers day-visitors
        unique experiences.
    </p>
    <img src="../../../assets/home/home2.jpg" class="home-image" alt="Yin Ranch Estate">
</section>

<section>
    <h1 class="marriage-hall">YIN RANCH DINING</h1>
    <p>
        Discover the unparalleled dining experiences at Yin Ranch, where farm-to-table cuisine meets exquisite
        seasonal settings. Our culinary offerings reflect the beauty and bounty of the Yolo Countryside.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
    <img src="../../../assets/home/home3.jpg" class="home-image2" alt="Dining at Park Winters">
</section>

<section>
    <h1 class="marriage-hall">WEDDINGS</h1>
    <p>
        As a premiere wedding venue in Northern California, we specialize in making your fairytale wedding a reality.
        The beautiful grounds of the estate are a unique canvas, ready to be your dream venue.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
    <img src="../../../assets/home/home4.jpg" class="home-image2" alt="Weddings at Yin Ranch">
</section>

<section>
    <h1 class="marriage-hall">FLOWER FARM</h1>
    <p>
        A naturally inspiring setting, the Yin Ranch Flower Farm invites guests to linger and weave memories into
        every celebration and experience — from our new venue settings to our Flower Farm Pavilion and Farm Bites.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
    <img src="../../../assets/home/home5.jpg" class="home-image2" alt="Yin Ranch Flower Farm">
</section>

<section>
    <h1 class="marriage-hall">THE INN</h1>
    <p>
        Our lovingly restored 1865 farm house, with four luxurious guest suites, is ideal for a romantic getaway,
        anniversary, honey or babymoon.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
    <img src="../../../assets/home/home6.jpg" class="home-image2" alt="Park Winters Inn">
</section>

<section>
    <h1 class="marriage-hall">DAY VISITS</h1>
    <p>
        We offer a variety of day visit experiences year-round including Garden and Flower Farm Tours, Pick Your Own
        Fresh or Dried Bouquet and creative workshops and classes led by local makers and purveyors.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
    <img src="../../../assets/home/home7.jpg" class="home-image2" alt="Day Visits at Park Winters">

</section>
<section>
    <h1 class="marriage-hall">THE MARKETPLACE</h1>
    <p>
        Our Marketplace is a retail experience and platform for boutique makers dedicated to offering goods made by real
        people, with love.
    </p>
    <div class="button-wrapper">
        <button class="learn-more-btn">LEARN MORE</button>
    </div>
</section>