<div class="founders-section">
    <div class="content">
        <h2>Make space for connection.</h2>
        <p>
            You can’t sit and watch a tree grow. It takes a supporting environment, determination and patience. A tree's
            roots get stronger as it perseveres through changing seasons. Then, the time comes, where it stands tall
            with pride and bears the fruit we eat. It generously gives back to the same environment that once fed its
            growth. Much like nature’s design of the tree, C.C. and Regina Yin have slowly built their legacy. For 50
            years, they’ve tended to this dream seed we now know as Yin Ranch. We stand tall with pride, to honor those
            who have supported us along the way. We, at Yin Ranch, promise to give back by creating a welcoming space
            that cultivates meaningful connection.
        </p>
    </div>
    <div class="image-box">
        <img src="assets/owners/yinranch_owners-1.jpg" alt="hero_pic" />
    </div>
</div>

<!-- <section class="staff-section">
    <h2>Staff</h2>
    <div class="staff-grid">
        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Aki Amai" />
            <div class="staff-name">
                <h3>Aki Amai</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>GRANTS MANAGER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Susan Au" />
            <div class="staff-name">
                <h3>Susan Au</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>CHIEF FINANCIAL OFFICER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
    </div>
    <div class="staff-grid">
        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Aki Amai" />
            <div class="staff-name">
                <h3>Aki Amai</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>GRANTS MANAGER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Susan Au" />
            <div class="staff-name">
                <h3>Susan Au</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>CHIEF FINANCIAL OFFICER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
        <div class="staff-card">
            <img src="assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
    </div>
</section> -->