<div class="founders-section">
    <div class="content">
        <h2>Meet the Founders</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.
        </p>
    </div>
    <div class="image-box">
       <img src="../../../assets/owners/yinranch_owners-2.jpg" alt="hero_pic" />
    </div>
</div>

<section class="staff-section">
    <h2>Staff</h2>
    <div class="staff-grid">
        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Aki Amai" />
            <div class="staff-name">
                <h3>Aki Amai</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>GRANTS MANAGER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Susan Au" />
            <div class="staff-name">
                <h3>Susan Au</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>CHIEF FINANCIAL OFFICER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
    </div>
    <div class="staff-grid">
        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Aki Amai" />
            <div class="staff-name">
                <h3>Aki Amai</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>GRANTS MANAGER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Susan Au" />
            <div class="staff-name">
                <h3>Susan Au</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>CHIEF FINANCIAL OFFICER</span>
            </div>
        </div>

        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
        <div class="staff-card">
            <img src="../../../assets/owners/yinranch_owners-1.jpg" alt="Allison Magee" />
            <div class="staff-name">
                <h3>Allison Magee</h3>
                <div class="envelope-container">
                    <i class="bi bi-envelope-fill"></i>
                </div>
            </div>
            <div class="role">
                <span>PRESIDENT & EXECUTIVE DIRECTOR</span>
            </div>
        </div>
    </div>
</section>