<div id="wedding-gallery">
  <!-- <section class="weddings">
    <div class="image-content">
      <h1>WEDDING GALLERY</h1>
    </div>
  </section> -->

  <section class="gallery-section">
    <div class="row">
      <div class="column">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/images.jpeg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image5.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image3.jpg">
      </div>
      <div class="column">
        <img src="/assets/wedding-and-events/wedding-gallery/image7.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/images.jpeg">
      </div>
      <div class="column">
        <img src="/assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/image5.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/images.jpeg">
        <img src="/assets/wedding-and-events/wedding-gallery/image8.jpg">
      </div>
      <div class="column">
        <img src="/assets/wedding-and-events/wedding-gallery/image7.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/image4.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/image8.jpg">
        <img src="/assets/wedding-and-events/wedding-gallery/image11.jpg">
        <img src="../../../../assets/wedding-and-events/wedding-gallery/images.jpeg">
      </div>
    </div>
  </section>
</div>