.lodging-container {
    margin-top: 90px;

    @media (max-width: 900px) {
        margin-top: 70px;
    }

    @media (max-width: 480px) {
        margin-top: 60px;
    }

    h1 {
        font-size: 52px;
        line-height: 1.2;
        font-family: var(--font-family-standard);

        @media (max-width: 900px) {
            font-size: 36px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
        }
    }

    .venue-card {
        height: 400px;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;

        @media (max-width: 1200px) {
            height: 350px;
        }

        @media (max-width: 900px) {
            height: 300px;
        }

        @media (max-width: 600px) {
            height: 250px;
        }

        @media (max-width: 480px) {
            height: 220px;
        }

        .venue-image {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            transition: transform 0.3s ease-in-out;
            background-repeat: no-repeat;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .venue-info {
        font-weight: 500;
        line-height: 1;
        margin-top: 10px;

        .venue-title {
            font-size: 1rem;
            font-weight: 600;

            @media (max-width: 600px) {
                font-size: 0.9rem;
            }

            @media (max-width: 480px) {
                font-size: 0.85rem;
            }
        }

        .venue-capacity {
            font-size: 0.85rem;
            font-weight: 400;

            @media (max-width: 600px) {
                font-size: 0.8rem;
            }

            @media (max-width: 480px) {
                font-size: 0.75rem;
            }
        }
    }
}