<nav class="navbar" [class.scrolled]="isScrolled || isNonHomeRoute">
    <div>
        <div class="logo" [routerLink]="['/']">YIN RANCH</div>
        <ul class="nav-links">
            <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/venues']">Venues</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/lodging']">Lodging</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about-us']">Our Story</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contact-us']">Contact Us</a></li>
        </ul>
    </div>
    <button class="custom-button-action" [routerLink]="['/contact-us']">GET STARTED</button>
</nav>